@import '../common/styles/sass/mixins';
@import '../common/styles/sass/variables';
@import '../common/components/Button/Button.module';


.hireBlock {
    .container {
        height: 140px;
        @include container();
        @include flex(column, flex-start, center, nowrap);
        button[type='submit'] {
            @extend .btn;
            align-self: center;
            background-color: transparent;
            margin-top: 30px;
        }

    }

}



