

.hireBlock {
    background-color: blue;

}

.hireContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: brown;
}

.hireBtn {
    padding: 10px 20px;
    background-color: peachpuff;

}
